<% provide(:title, @user.name) %>
<div>
  <table class="table table-bordered table-condensed user-table">
    <tr>
      <td>
        <%= link_to "←", user_path(date: @first_day.prev_month,),
        class: "btn btn-xs btn-primary" %>
        【<%= l(@first_day, format: :middle) %>】勤怠管理表
        <%= link_to "→", user_path(date: @first_day.next_month),
        class: "btn btn-xs btn-primary" %>
      </td>
      <td>指定勤務時間：<%= format_basic_info(@user.work_time) %></td>
      <td colspan="3">基本時間：<%= format_basic_info(@user.basic_work_time) %></td>
      <td>月初日：<%= l(@first_day, format: :short) %></td>
    </tr>

    <tr>
      <td>所属　<%= @user.affiliation.present? ? @user.affiliation : "未所属" %></td>
      <td>名前　<%= @user.name %></td>
      <td>コード</td>
      <td><%= @user.employee_number %></td>
      <td>出勤日数：<%= @worked_sum %>日</td>
      <td>月末日：<%= l(@last_day, format: :short) %></td>
    </tr>
  </table>
  <% if @user.admin? || @user.superior? %>
    <% cnt1 = Attendance.where(superior_status: "申請中", person: @user.name).count %>
      <%= "【所属長承認申請のお知らせ】" %><br>
      <%= "【勤怠変更申請のお知らせ】" %><br>
      <% if cnt1 > 0 %> 
        <%= link_to "【残業申請のお知らせ】" , attendances_edit_over_work_day_approval_user_path(@user), remote: true, class: "navi-link"  %>
          <div style="display:inline-block; border: 3px solid #f30; color: #f30;">
            <%= link_to "#{cnt1}件の通知があります", attendances_edit_over_work_day_approval_user_path(@user), remote: true, class: "navi-link2" %>
          </div><br>
      <% else %>
        <%= "【残業申請のお知らせ】" %><br>
      <% end %>

  <% end %>
  
<%= link_to "勤怠を編集", attendances_edit_one_month_user_path(date: @first_day),
class: "btn btn-primary" %>
<%= link_to "CSV出力", "*",
class: "btn btn-primary" %>
<br>
<%= link_to "勤怠修正ログ（承認済）", "*",
class: "btn btn-primary" %>
</div>


<div>
  <table class="table table-bordered table-condensed table-hover" id="table-attendances">
    <thead>
      <tr>
        <th rowspan="3">残業申請</th>
        <th rowspan="3">日付</th>
        <th rowspan="3">曜日</th>
        <th colspan="8">【実績】</th>
        <th colspan="5">所定外勤務</th>
        
      </tr>
      
      <tr>
        <th colspan="3">出社</th>
        <th colspan="3">退社</th>
        <th rowspan="2">在社時間</th>
        <th rowspan="2">備考</th>
        <th colspan="2">終了予定時間</th>
        <th rowspan="2">時間外時間</th>
        <th rowspan="2">業務処理内容</th>
        <th rowspan="2" vAlign=bottom>指示者確認㊞</th>
      </tr>
      <tr>
        <th>時</th>
        <th>分</th>
        <th></th>
        <th>時</th>
        <th>分</th>
        <th></th>
        <th>時</th>
        <th>分</th>
      </tr>
    </thead>
    
    <tbody>
      <% @attendances.each do |day| %>
        <tr>
          <td>
            <%= link_to "残業申請", edit_over_work_user_attendance_path(@user, day), remote: true, class: "btn btn-primary" %>
          </td>
          <td><%= l(day.worked_on, format: :short) %></td>
          <td>
            <% if day.worked_on.wday == 6 %>
              <font color="BLUE">土</font>
            <% elsif day.worked_on.wday == 0 %>
              <font color="RED">日</font>
            <% else %>
              <%= $days_of_the_week[day.worked_on.wday] %>
            <% end %>
          </td>
          <td><%= day.started_at.hour if day.started_at.present? %></td>
          <td><%= day.started_at.min if day.started_at.present? %></td>
          <td>
            <% if Date.current == day.worked_on && day.started_at.nil? %>
              <%= link_to "出社", user_attendance_path(@user, day),
              method: :patch, class: "btn btn-default btn-attendance active" %>
            <% end %>
          </td>
          <td><%= day.finished_at.hour if day.finished_at.present? %></td>
          <td><%= day.finished_at.min if day.finished_at.present? %></td>
          <td>
            <% if Date.current == day.worked_on && day.started_at.present? && day.finished_at.nil? %>
              <%= link_to "退社", user_attendance_path(@user, day),
              method: :patch, class: "btn btn-default btn-attendance active" %>
            <% end %>
          </td>
          <td>
            <% if day.started_at.present? && day.finished_at.present? %>
              <%= str_times = working_times(day.started_at, day.finished_at) %>
              <% @total_working_times = @total_working_times.to_f + str_times.to_f %>
            <% end %>
          </td>
          <td><%= day.note %></td>
          <td><%= day.over_work_end_time.hour if !(day.over_work_end_time.nil?) %></td>
          <td><%= day.over_work_end_time.min if !(day.over_work_end_time.nil?) %></td>
          <td></td>
          <td><%= day.overwork %></td>
          <td><%= day.superior_status %></td>
        </tr>
      <% end %>
    </tbody>
    <tfoot>
      <!--rowspan:縦結合、colspan:横結合-->
      <tr>
        <td colspan="2"></td>
        <td colspan="2"></td>
        <td colspan="2"></td>
        <td colspan="1"></td>
        <td colspan="1"></td>
        <td colspan="1"></td>
        <td colspan="1">所属長承認　未</td>

      </tr>
      <tr>
        <td colspan="2"><%= @attendances.count%></td>
        <td colspan="2"><%= format_basic_info(@user.work_time).to_f * @worked_sum %></td>
        <td colspan="2"><%= format("%.2f", @total_working_times.to_f) %></td>
        <td colspan="1"></td>
        <td colspan="1"></td>
        <td colspan="1"></td>
        <td colspan="1"></td>
      </tr>
    </tfoot>
  </table>
</div>

<!--モーダルウインドウ表示-->
<div id="edit-over-work" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true"></div>

<div id="edit-over-work-day-approval" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true"></div>
