<% provide(:title, 'Base List') %>
<% provide(:class_text, 'base--edit') %>
<% provide(:button_text, '更新') %>

<%= form_with(model: @base, local: true) do |f| %>
<%= render 'shared/error_messages', object: @base %>
  
  <%= f.label :base_number, class: "label-#{yield(:class_text)}" %>
  <%= f.number_field :base_number, class: "form-control" %>

  <%= f.label :base_name, class: "label-#{yield(:class_text)}" %>
  <%= f.text_field :base_name, class: "form-control" %>

  <%= f.label :base_kind, class: "label-#{yield(:class_text)}" %>
  <%= f.text_field :base_kind, class: "form-control", list: 'list-name' %>
  <datalist id="list-name">
    <option value="出勤">
    <option value="退勤">
  </datalist>
  
  <div id="add-info">
  <%= f.submit yield(:button_text), class: "btn btn-primary btn-block btn-#{yield(:class_text)}" %>
  </div>
<% end %>