<% provide(:class_text, 'onemonth-approval') %>
<% provide(:button_text, '変更を送信する') %>
<div class="modal-dialog modal-lg modal-dialog-center">
  <div class="modal-content">
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">×</span>
      </button>
    </div>
    <%= form_with(model: @attendance, url: attendances_update_one_month_admit_user_path(@user), local: true, method: :patch) do |f| %>
      <% @notice_users.each do |user| %>
    <div class="modal-body">
      <div>
        <table class="table table-bordered table-condensed table-hover" id="table-overwork-day">
          <h1 class="modal-title">【 <%= user.name %>からの1ヵ月分勤怠申請】</h1>
            <thead>
              <tr>
                <th>月</th>

                <th>指示者確認㊞</th>
                <th>変更</th>
                <th>勤怠を確認する</th>
              </tr>
             </thead>
              <% @attendance_lists.where(user_id: user.id).each do |attendance| %>
                <%= f.fields_for 'attendances[]', attendance do |list| %>
              <tbody>
                <tr>
                  <td><%= attendance.apply_month.strftime("%-m月") %></td>
                  <td>
                    <%= list.select :superior_status2, [['なし'], ['申請中'], ['承認'], ['否認']], { include_blank: attendance.superior_status2 } %>
                  </td>
                  <td><%= list.check_box :change_status2, {checked: "false"}, "true", "false" %></td>
                  <td><%= link_to "勤怠を編集", user_path(user.id, date: attendance.worked_on, order_sort: 2), class: "btn btn-primary" %></td>
                </tr>
              </tbody>
                <% end %>
              <% end %>
        </table>
        
      <% end %>
        <div class="button_wrapper">
          <%= f.submit yield(:button_text), class: "btn btn-primary btn-#{yield(:class_text)}" %>
        </div>
    <% end %>
      </div>
    </div>
  </div>
</div>