<% provide(:class_text, 'overwork-day') %>
<% provide(:button_text, '変更を送信する') %>
<% require "date"%>
<div class="modal-dialog modal-lg modal-dialog-center">
  <div class="modal-content">
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">×</span>
      </button>
    </div>
    <%= form_with(model: @attendance, url: attendances_update_over_work_day_approval_user_path(@user, @attendance), local: true, method: :patch) do |f| %>
      <%= render 'shared/error_messages', object: @attendance %>
      <% @notice_users.each do |user| %>
    <div class="modal-body">
      <div>
        <table class="table table-bordered table-condensed table-hover" id="table-overwork-day">
          <h1 class="modal-title">【 <%= user.name %>からの残業申請】</h1>
            <thead>
              <tr>
                <th>日付</th>
                <th>曜日</th>
                <th>終了予定時間</th>
                <th>指定勤務終了時間</th>
                <th>時間外時間</th>
                <th>業務処理内容</th>
                <th>指示者確認㊞</th>
                <th>変更</th>
                <th>勤怠を確認する</th>
              </tr>
             </thead>
              <% @attendance_lists.where(user_id: user.id).each do |attendance| %>
                   <% hour2 = attendance.over_work_end_time.hour %>
                   <% min2 = attendance.over_work_end_time.min %>
                　 <% hour1 = user.designated_work_end_time.hour %>
                   <% min1 = user.designated_work_end_time.min %>
                <%= f.fields_for 'attendances[]', attendance do |list| %>
                 <% if attendance.overwork_next == '1' %>
                   <% year = (attendance.worked_on + 1).year %>
                   <% month = (attendance.worked_on + 1).month %>
                   <% day = (attendance.worked_on + 1).day %>
                 <% else %>
                   <% year = (attendance.worked_on).year %>
                   <% month = (attendance.worked_on).month %>
                   <% day = (attendance.worked_on).day %>  
                 <% end %>     
                     <% attendance.over_work_end_time = Time.new(year, month, day, hour2, min2, 0,).to_time.to_s %>
                     <% user.designated_work_end_time = Time.new(year, month, day, hour1, min1, 0,).to_time.to_s %>
                　 <% t2 = attendance.over_work_end_time - user.designated_work_end_time %>
              <tbody>
                <tr>
                  <td><%= l(attendance.worked_on, format: :short) %></td>
                  <td><%= $days_of_the_week[attendance.worked_on.wday] %></td>
                  <td><%= l(attendance.over_work_end_time, format: :time) %></td>
                  <td><%= l(user.designated_work_end_time, format: :time) %></td>
                  <td><%= Time.at(t2).utc.strftime('%H:%M') %></td>
                  <td><%= attendance.overwork %></td>
                  <td>
                    <%= list.select :superior_status4, [['なし'], ['申請中'], ['承認'], ['否認']], { selected: attendance.superior_status4 } %>
                  </td>
                  <td><%= list.check_box :change_status, {checked: "false"}, "true", "false" %></td>
                  <td><%= link_to "確認", user_path(user.id, date: attendance.worked_on.beginning_of_month, order_sort: 2), class: "btn btn-primary" %></td>
                </tr>
              </tbody>
                <% end %>
              <% end %>
        </table>
        
      <% end %>
        <div class="button_wrapper">
          <%= f.submit yield(:button_text), class: "btn btn-primary btn-#{yield(:class_text)}" %>
        </div>
    <% end %>
      </div>
    </div>
  </div>
</div>